# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2026 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Traefik certs dumper paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ traefik_certs_dumper_uid }}"
    group: "{{ traefik_certs_dumper_gid }}"
  with_items:
    - "{{ traefik_certs_dumper_base_path }}"
    - "{{ traefik_certs_dumper_bin_path }}"

- name: Ensure Traefik certs dumper dumped certificates path exists
  ansible.builtin.file:
    path: "{{ traefik_certs_dumper_dumped_certificates_path }}"
    state: directory
    mode: "{{ traefik_certs_dumper_dumped_certificates_dir_mode }}"
    owner: "{{ traefik_certs_dumper_dumped_certificates_dir_owner }}"
    group: "{{ traefik_certs_dumper_dumped_certificates_dir_group }}"

- name: Ensure Traefik certs dumper support file installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ traefik_certs_dumper_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ traefik_certs_dumper_uid }}"
    group: "{{ traefik_certs_dumper_gid }}"
  with_items:
    - env

- name: Ensure Traefik certs dumper container image is pulled
  community.docker.docker_image:
    name: "{{ traefik_certs_dumper_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"

- name: Ensure Traefik certs dumper scripts installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/bin/{{ item }}"
    dest: "{{ traefik_certs_dumper_bin_path }}/{{ item }}"
    owner: "{{ traefik_certs_dumper_uid }}"
    group: "{{ traefik_certs_dumper_gid }}"
    mode: "0750"
  with_items:
    - wait-for-file.sh
    - wait-for-domain.sh
    - copy-certificates.sh
    - entrypoint.sh

- name: Ensure Traefik certs dumper systemd services are present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/{{ item.src }}"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ item.dest }}"
    mode: "0644"
  with_items:
    - src: traefik-certs-dumper.service.j2
      dest: "{{ traefik_certs_dumper_identifier }}.service"
    - src: traefik-certs-dumper-wait-for-domain@.service.j2
      dest: "{{ traefik_certs_dumper_identifier }}-wait-for-domain@.service"
