---

- name: Fail if required Traefik certs dumper settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - traefik_certs_dumper_uid
    - traefik_certs_dumper_gid
    - traefik_certs_dumper_ssl_dir_path
