[Unit]
Description=Traefik certs dumper waiter ({{ traefik_certs_dumper_identifier }}-wait-for-domain) for %i
{% for service in traefik_certs_dumper_waiter_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=oneshot
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"

# We can't assign a container name here (even one that includes `%i`),
# because multiple services many depend on `waiter@SAME_DOMAIN` and then we'd be generating
# the same name for each invocation and potentially killing other (simultaneously running) instances
# from `ExecStartPre` / `ExecStop` cleanup tasks.
ExecStart={{ devture_systemd_docker_base_host_command_docker }} run \
			--rm \
			--log-driver=none \
			--mount type=bind,src={{ traefik_certs_dumper_bin_dir_path }},dst=/certs-dumper-bin,ro \
			--mount type=bind,src={{ traefik_certs_dumper_dumped_certificates_dir_path }},dst={{ traefik_certs_dumper_dumped_certificates_dir_path }},ro \
			--entrypoint=/bin/sh \
			{% for arg in traefik_certs_dumper_container_process_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ traefik_certs_dumper_container_image }} \
			-c '/certs-dumper-bin/wait-for-domain.sh %i'

SyslogIdentifier={{ traefik_certs_dumper_identifier }}-%i

[Install]
WantedBy=multi-user.target
